* {
    padding: 0;
    margin: 0;
}

#game {
    width: 600px;
    height: 200px;
    border: 3px solid black;
}

#character {
    width: 64px;
    height: 64px;
    position: relative;
    top: 138px;
    left: 145px;
}

.animate {
    animation: jump 950ms;
}

@keyframes jump {
    0%{top: 140px;}
    1%{top: 94px;}
    5%{top: 90px;}
    10%{top: 85px;}
    50%{top: 80px;}
    100%{top: 140px;}
}

#block {
    width: 40px;
    height: 40px;
    position: relative;
    top: 137px;
    left: 490px;
    animation: block 3s infinite;
}

@keyframes block {
    0%{left:560px;}
    100%{left:-104px;}
}

#ref {
    margin-left: 5px;
    color: gray;
    font-size: 11px;
}